* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  margin: 200px 0;
}

.profile-wrapper {
  margin: 0 auto;
  width: 500px;
  padding: 20px;
  background: linear-gradient(
    to bottom,
    #0b1d2a,
    #05080d,
    #000000
  );
  color: white;
  border-radius: 12px;
}

.top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger-icon, .search-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: #ffffff8f;
    border-radius: 3px;
}

.search-icon path {
  fill: rgb(107, 104, 104) !important;
}


.center-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers horizontally */
  text-align: center;  /* centers text inside */
  margin-top: 40px;
}

.profile-pic {
  width: 350px;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
}


.profile-pic img{

  border-radius: 300px;
}

.designation {
  font-size: 14px;
  margin-bottom: 20px;
  color: #ccc;
  font-weight: 600;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
   font-weight: bold
 
}

.stats .number {
  font-weight: 600;
  font-size: 18px;
}

.stats .label {
  font-size: 12px;
  color: #ccc;
  letter-spacing: 0.08em;
}

.stats span {
    margin-right: 10px;
   
}
 h2 {
color: #60d087;
}

.button-wrapper {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

}

button.follow-button {
    
   border: none;
    padding: 14px 32px;
    border-radius: 24px;
    background-color: #60d087;
    color: #ffffff;
    font-weight: 600;
    font-size: 11px;
    cursor: pointer;
}
